---
import Layout from "../layouts/Layout.astro";
import Presentation from "../components/Presentation.astro";
import Projects from "../components/Projects.astro";
import About from "../components/About.astro";
---

<Layout title="Portfolio de Roger Web Developer">
	
	<main>
		<Presentation />
		<About />
		<Projects />
	</main>
</Layout>
