---
const LINKS = [
  {
    title: "Home",
    href: "#home",
  },
  {
    title: "About me",
    href: "#about"
  },
  {
    title: "Projects",
    href: "#projects",
  },
  {
    title: "Contact",
    href: "mailto:ztroger15@gmail.com",
  },
];
---

<header class="flex justify-center items-center py-2 w-full fixed z-10">
  <nav
    class="backdrop-blur-xl px-5 flex justify-center items-center p-2 rounded-2xl bg-transparent gap-5"
  >
    {
      LINKS.map((link) => (
        <a
          class="transition-all text-sm text-pink-50 hover:text-pink-300"
          href={link.href}
        >
          {link.title}
        </a>
      ))
    }
  </nav>
</header>
