<a
  {...Astro.props}
  target="_blank"
  class="rounded-xl py-1 px-2 font-bold text-xs flex flex-row justify-center items-center gap-1.5 hover:scale-110 transition-transform border-2 border-pink-800"
>
  <slot />
</a>